# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entornos y configuraciones
.env
.env.*
.venv/
venv/
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Datos generados en runtime
prebuilt/*
!prebuilt/graph_rag.pkl
corpus/
vector_db/
observability/
lib/
_network.html
*.sqlite
*.sqlite3
*.faiss

# PDFs generados individualmente (si aplica)
documento_tecnico_es.pdf
technical_document_en.pdf
